@import url('https://fonts.googleapis.com/css2?family=Aleo:wght@200&family=Lato&family=PT+Sans:ital@1&family=Playfair+Display&family=Roboto+Condensed&family=Roboto:wght@300;400&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  padding: 0;
}

